.Wrapper {
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 400px;
    border: 1px solid black;
    align-items: end;
    justify-content: end;
}

.FirstRowInputs {
    display: flex;
    gap: 10px;
}

.InputInline {
    display: block;
    width: 20%;
}

.MoodCircleWrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.MoodCircle {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.MoodCircleGood {background: green}
.MoodCircleBad {background: red}
.MoodCircleNeutral {background: darkgrey}
.InputBlock {
    display: block;
    width: 100%;
}
.PrimaryButton {
    display: block;
    background: blue;
    height: 30px;
    width: 60px;
    color: white;
}